@page "/"

<PageTitle>Index</PageTitle>

<h1 class="text-center">@input</h1>

<AddItem @bind-Text=@input></AddItem>

<Todos TodoItems=@items></Todos>

@code{
    private string input = "";

    private List<Item> items = new List<Item>();

    protected override async Task OnInitializedAsync()
    {
        items = await httpClient.GetFromJsonAsync<List<Item>>("api/todo");
    }

}
